/*To remove the white border around the webpage (this overrides the default margin and padding set by the browser)*/
html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
    height: 400px;
}

.Hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: inherit;
    size: 18px;
}

.links {
    list-style-type: none;
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.Main {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 100px;
    margin-right: 100px;

}

.Main-left {
    width: 500px;
    text-wrap: wrap;
}

.Main-right {
    height: 200px;
    width: 500px;
    background-color: grey;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.dimmed, .links{
    font-size: 18px;
    color: #e5e7eb;
}

.Hero-Main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 8px;
}

.Info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.Middle {
    display: flex;
    justify-content: center;
}

.text {
    text-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: grey;
}

.Boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Indi-Box {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Box {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
}

.Quote-Section {
    height: 500px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Quote {
    width: 700px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-wrap: wrap;
}

.Quote-Box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    padding-bottom: 0px;
    height: 160px;
}

.Quoter {
    display: flex;
    width: 700px;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: bolder;
    font-size: 20px;
}

.Above-footer {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.Action-box {
    width: 1000px;
    height: 200px;
    background-color: #3882f6;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Action-box-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    height: 100px;
}

.Action-button {
    color: #f9faf8;
    border-color: #f9faf8;
    background-color: #3882f6;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 8px;
    font-weight: 600;
}

.Call-action {
    color: #f9faf8;
    font-weight: 900;
    font-size: 20px;
}

.Action-sign-up {
    color: #e5e7eb;
}

.Odin-copyright {
    display: flex;
    height: 100px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.Copyright-text {
    color: #e5e7eb;
}